.bg {
  background-color: #FFFFFF;
}

.banner {
  background-image: url('./resources/images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 9vh;
  padding-bottom: 12vh;
}

.bannerTitle {
  color: #FFFFFF;
  text-align: center;
  font-size: 2.2vh;
  font-family: Arial, Helvetica, sans-serif;
}

.bannerSubtitle {
  color: #FFFFFF;
  text-align: center;
  font-size: 7vh;
  font-weight: bold;
  font-family: 'Garamond';
}

.bannerCaption {
  color: #FFFFFF;
  text-align: center;
  font-size: 2.7vh;
  font-family: Arial, Helvetica, sans-serif;
}

.bannerSpacer {
  height: 3vh;
}

.webinarWriteupRow {
  padding-bottom: 8vh;
  padding-top: 8vh;
}

.webinarWriteupTitle {
  font-size: 4.5vh;
  font-family: 'Garamond';
  margin-bottom: 4vh;
}

.webinarWriteupSubtitle {
  font-size: 3.5vh;
  font-family: 'Garamond';
}

.webinarWriteupText {
  font-size: 2.8vh;
  font-family: 'Garamond';
}

.webinarImg {
  margin-top: 1.8vh;
  margin-bottom: 4vh;
}

.carouselContainer {
  margin-top: 3vh;
  margin-bottom: 4vh;
}

.formInput {
  padding-top: 12vh;
}

.formContainer {
  background-color: #EAE4DA;
  padding-top: 7vh;
  padding-bottom: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
}

.formSection {
  margin-top: 5vh;
}

.formLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2vh;
}

.interestedText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2vh;
}

.submitButton {
  margin-top: 1vh;
  border-radius: 1;
  background-color: #FEE850;
  border-color: #FEE850;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7vh;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.privacyNoticeText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6vh;
  color: #808080;
  margin-top: 4vh;
}

.spacerFooter {
  margin-top: 7vh;
  margin-bottom: 0;
}

.footerRow {
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #001844;
}

.footerText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8vh;
  color: #FFFFFF;
}

.footerText:hover {
  color: #FEE850;
}

.horizontalLine {
  margin-top: 3vh;
  margin-bottom: 1.5vh;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #CE181E;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media screen and (max-width: 999px) {
  .banner {
    padding-top: 7vh;
    padding-bottom: 7vh;
  }
  .bannerTitle {
    font-size: 2vh;
  }
  .bannerSubtitle {
    font-size: 5vh;
  }
  .bannerCaption {
    font-size: 2.2vh;
  }
  .webinarWriteupRow {
    padding-bottom: 4vh;
    padding-top: 4vh;
  }
  .webinarWriteupText {
    font-size: 2.8vh;
  }
  .formContainer {
    padding-top: 6vh;
    padding-bottom: 3vh;
    padding-left: 2vh;
    padding-right: 2vh;
  }
  .formInput {
    padding-top: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}